/*MASTER SHIT*/
	@font-face {
	    font-family: 'open_sanssemibold';
	    src: url('fonts/opensans-semibold.eot');
	    src: url('fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
	         url('fonts/opensans-semibold.woff2') format('woff2'),
	         url('fonts/opensans-semibold.woff') format('woff'),
	         url('fonts/opensans-semibold.ttf') format('truetype'),
	         url('fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'open_sansregular';
	    src: url('fonts/opensans-regular.eot');
	    src: url('fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
	         url('fonts/opensans-regular.woff2') format('woff2'),
	         url('fonts/opensans-regular.woff') format('woff'),
	         url('fonts/opensans-regular.ttf') format('truetype'),
	         url('fonts/opensans-regular.svg#open_sansregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'montserratlight';
	    src: url('fonts/montserrat-light.eot');
	    src: url('fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
	         url('fonts/montserrat-light.woff2') format('woff2'),
	         url('fonts/montserrat-light.woff') format('woff'),
	         url('fonts/montserrat-light.ttf') format('truetype'),
	         url('fonts/montserrat-light.svg#montserratlight') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'montserratregular';
	    src: url('fonts/montserrat-regular.eot');
	    src: url('fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
	         url('fonts/montserrat-regular.woff2') format('woff2'),
	         url('fonts/montserrat-regular.woff') format('woff'),
	         url('fonts/montserrat-regular.ttf') format('truetype'),
	         url('fonts/montserrat-regular.svg#montserratregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	* {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.cf:before,
	.cf:after {
		content:"";
		display: block;
	}

	.cf:after {
		clear: both;
	}

	.cf {
		zoom: 1;
	}

	
	/*form reset*/

	input,
	select,
	textarea{
		appearance: none;			
		-moz-appearance: none;
		-webkit-appearance: none;
		font-family: inherit;
		font-size: inherit;
		border: 0;
		border-radius: 0;
		-webkit-border-radius:0;
		-moz-border-radius: 0;
	}

/*MASTER*/

	body{
		font-family: 'open_sansregular',Arial,sans-serif;
		font-weight: 300;
		min-width: 320px;
		color: #333;
		background-color: #E0E0E0;
		position:relative;
		z-index:9;
	}

	a{
		color: #0065A2;
	}

	a:hover,
	a:focus{	
		color: #8DC63F;
	}

	a:visited{
		color: #3579A2;
	}

	#container{
		min-width: 320px;
		position:relative;
		background-color: #E4F0F7;
	}

	img{
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	h1,h2,h3,h4,h5,h6{
		font-family: 'montserratregular',Arial,sans-serif;
		line-height: 1.125;
		color: #0F5A60;
		margin-bottom: .5em;
	}

	h2{
		font-size: 2.75em;
	}

	h3{
		font-size: 2em;
	}

	h4{
		font-size: 1.625em;
	}

	h3,h4,h5{
		font-family: 'montserratlight',Arial,sans-serif;
	}

	.butt,
	.butt:visited,
	input.butt{
		padding: 0 1em;
		line-height: 3.125;
		height: 50px;
		position:relative;
		top: -.25em;
		font-size: 1em;
		text-align: center;
		display: block;
		min-width: 150px;
		max-width: 200px;
		margin-top: 1em;
		font-family: 'montserratlight',Arial,sans-serif;
		background: #0065A2;
		color: #FFF;
		text-decoration: none;
		-moz-box-shadow: 0 .5em #005588;
		-webkit-box-shadow: 0 .5em #005588;
		box-shadow: 0 .5em #005588;
	}

	.butt:hover,
	.butt:focus,
	input.butt:hover,
	input.butt:focus{
		background: #8DC63F;
		color: #333;
		text-decoration: none;
		-moz-box-shadow: 0 .5em #75A434;
		-webkit-box-shadow: 0 .5em #75A434;
		box-shadow: 0 .5em #75A434;
	}

	.butt:active,
	input.butt:active{
		background: #97D443;
		top: 0;
		-moz-box-shadow: 0 .25em #75A434;
		-webkit-box-shadow: 0 .25em #75A434;
		box-shadow: 0 .25em #75A434;
	}

/*HEADER*/

	header{
		position: relative;
	}

	.utility{
		height: 60px;
		text-align: center;
		padding-top:.5em;
		font-family: 'montserratlight',Arial,sans-serif;
		background: #FFF;
	}

	.utility a{
		text-decoration: none;
		font-size: 1.5em;
		font-family: 'montserratregular',Arial,sans-serif;
	}

/*nav*/

	#navplaceholder{
		background-color: #0065A2;
		height: 60px;
	}

	.no-js #navplaceholder{
		height: auto;
	}

	nav{
		font-family:'montserratlight',Arial,sans-serif;
		background-color: #0065A2;
		position: relative;
		z-index: 999;
	}

	nav h1{
		height:60px;
		width: 178px;
		font-size: 1em;
		margin-bottom: 0;
		margin-left: 1em;
	}

	.no-js nav h1{
		margin: 0 auto;
	}

	nav h1 a{
		display: block;
		text-indent: -9999px;
		overflow: hidden;
		height: 60px;
		width: 178px;
		background: url(cssimages/mlogo.svg) no-repeat left center;
	}

	.toggle{
		height: 60px;
		position: absolute;
		background:#005588;
		right: 0;
		top: 0;
		width: 60px;
		display: block;
		font-size: .75em;
		text-transform: uppercase;
	}

	.no-js .toggle{
		display:none;
	}

	/*holy fuck u on die reading this shiet*/

	.toggle,
	.toggle:hover,
	.toggle:focus,
	.toggle:active,
	.toggle:visited{
		text-decoration: none;
		color: #FFF;
	}

	#iconcontainer{
		position:absolute;
		height: 50%;
		width: 60%;
		display: block;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		margin: auto;
	}
	#iconcontainer span{
		display: block;
		height: 20%;
		position: absolute;
		top: 40%;
		bottom: 40%;
		right: 0;
		left: 0;
		width:100%;
		background: #FFF;
		margin: 0 auto;
		-moz-transition: all ease-in-out .125s;
		-o-transition: all ease-in-out .125s;
		-webkit-transition: all ease-in-out .125s;
		transition: all ease-in-out .125s;
	}

	#iconcontainer span:first-child{
		top: 0%;
		bottom: auto;
	}

	#iconcontainer span:last-child{
		bottom: 0%;
		top: auto;
	}

	.toggle p{
		text-align: center;
		margin-top: .25em;
	}

	.active #iconcontainer span:nth-child(2){
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.active #iconcontainer span:nth-child(3){
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.active #iconcontainer span:first-child,
	.active #iconcontainer span:last-child{
		width: 0%;
		top: 45%;
		bottom: 45%;
	}

	
	nav ul{
		clear: both;
		height: 0;
		position:absolute;
		overflow:hidden;
		width: 100%;
		opacity: 0;
		min-width: 320px;
		background: #005588;
		-moz-transition: opacity linear .25s!important;
		-o-transition: opacity linear .25s!important;
		-webkit-transition: opacity linear .25s!important;
		transition: opacity linear .25s!important;
	}

	nav ul.active,
	.no-js nav ul{
		height: auto;
		opacity: 1;
	}

	.no-js nav ul{
		position: static;
	}

	nav ul li a,
	nav ul li a:visited{
		font-size: 1.25em;
		line-height: 3; /*60px*/
		height: 60px;
		text-align: left;
		padding: 0 1em;
		display: block;
		color: #FFF;
		text-decoration: none;
		text-align: center;
	}

	nav ul li a:hover,
	nav ul li a:focus,
	nav ul li a:active{
		background: #8DC63F;
		color: #FFF;
		text-decoration: underline;
	}

	.stickynav{
		position: fixed;
		width:100%;
		height: 60px;
		min-width:320px;
		top: 0;
		left: 0;
		right: 0;
		-webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
		box-shadow: 0 0 2px 0 rgba(0,0,0,.5);
	}

/*banner*/

	#banner {
		height: 300px;
		position: relative;
		background-size: cover;
		background-color: #FFF;
	}

	.flexbox #banner{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		        flex-direction: column;
	}

	#dhome #banner{
		background-image: url(cssimages/mhhome.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	#dabout #banner{
		background-image: url(cssimages/mhabout.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	#dfacilities #banner{
		background-image: url(cssimages/mhfacilities.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	#dservices #banner{
		background-image: url(cssimages/mhservices.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	#devents #banner{
		background-image: url(cssimages/mhevents.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	#dcontactus #banner{
		background-image: url(cssimages/mhcontactus.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	#d404 #banner{
		background-image: url(cssimages/mh404.jpg);
		background-repeat: no-repeat;
		background-position: center center;
	}

	#banner>div {	
		height: 250px;
		width: 85%;
		padding: .75em;
		position: absolute;
		text-align: center;
		margin: auto;
		background: rgba(255,255,255,.8);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.no-js #banner>div{
		padding: 1.25em;
	}

	#banner>div>div{
		width:100%;
	}

	.flexbox #banner>div{
		margin: 0 auto;
		position: static;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		        flex: 0 0 auto;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align:center;
		-ms-flex-align:center;
		        align-items:center;
	}

	#banner .butt{	
		display: block;
		max-width: 200px;
		margin: 1.125em auto 0;
	}

	.flexbox #banner .butt{
		width: 100%;
	}

	#banner h2{
		font-family: 'open_sansregular',Arial,sans-serif;
		font-size: 1.75em;
		letter-spacing: -.03125em;
		text-align: center;
		padding: 1em;
		width: 80%;
		margin: auto;
	}

	#banner>h2{
		position: relative;
		background: rgba(255,255,255,.8);
		top: 15%;
		bottom: 15%;
		width: 85%;
	}

	.flexbox #banner h2{
		position: static;
		margin: 0 auto;
		webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
	        flex: 0 0 auto;
	}

	#banner>div h2{
		padding: 0;
		width: 100%;
	}

/*ASIDE*/

	#toc{
		padding: 1.5em;
	}

	aside h4{
		text-align: left;
	}

	aside ol li{
		text-align: left;
		margin-left: 1.5em;
		font-size: 1.25em;
		line-height: 1.5;
		margin-bottom: .25em;
	}

	aside ol>li{
		list-style-type: decimal;
	}

	aside ol ul{
		margin: .5em 0;
	}

	aside ul>li{
		list-style-type: none;
	}

	.contact-us{
		margin: 0 auto;
		width: 100%;
		padding: 4em;
		text-align: center;
		background: url(cssimages/mcontactus.jpg) no-repeat center center;
		background-size: cover;
	}

	.contact-us p{
		margin-bottom: 2em;
	}

	.contact-us .butt{
		margin: 0 auto;
		text-align: center;
	}

/*MAIN BITHC*/

	/*master*/
		main{
			background-color: #FFF;
			/*ie is a punk bitch*/
			display: block;
		}

		main p {
			line-height: 1.375;
			margin-bottom: 1em;
		}

		main .butt{
			width: 60%;
		}

		main section{
			margin: 0 auto 3em;
			width: 80%;
		} 

		main section:last-child{
			margin-bottom: 0;
		} 

		main section>section{	
			margin: 0 auto 1em;
		}

		#toc+main article>section{
			padding-bottom: 2.5em;
			border-bottom: 1px solid #333;
		}

		#toc+main article>section:last-child{
			border-bottom: none;
		}

		article{
			padding: 1.5em;
			text-align: left;
		}

		article .butt{
			margin: 0 auto;
		}

		.conclude{
			margin-top: 3em;
			text-align: center;
		}

		article section{
			width: 100%;
		}

		main h2{
			text-align: center;
			margin-bottom: .625em;
			/*padding-bottom: .25em;
			border-bottom: 1px solid #333;*/
		}

		article h2{
			font-size: 2.75em;
			font-size: 'montserratregular',Arial,sans-serif;
		}

		article h3{
			font-size: 2.25em;
		}
		article h4{
			margin-bottom: .25em;
			font-size: 1.75em;
		}

		article p{
			line-height: 1.5;
		}

		article ul{
			margin-bottom: .25em;
		}

		article li {
			list-style: disc;
			margin-left: 2em;
			margin-bottom: .5em;
			line-height: 1.5;
		}

		article figure{
			/*margin-bottom: 3.75em;*/
			padding: 1.25em 0;
		}

		article figure:last-child{
			padding-bottom: 0;
		}

		article figure figcaption{
			margin-top: 1em;
		}

	/*home*/

		#home-blurb{
			max-width: 450px;
			padding-top: 3em;
		}

		#home-blurb,
		#home-points{
			text-align: center;
		}

		#home-points figure{
			margin: 2.5em auto;
			max-width: 350px;
		}

		#home-points figure img{
			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			margin-bottom: 1em;
			max-width: 200px;
		}

		#home-points figcaption h3{
			margin-bottom: .25em;
		}

		#home-points figcaption p{
			margin-bottom: 1.5em;
		}

		#home-insurance{
			text-align: center;
		}

		#home-insurance a{
			display: inline-block;
			width: 40%;
			vertical-align: middle;
			margin: 0 2.5% 1em;
		}


		#home-insurance a:nth-of-type(n+5){
			display: none;
		}

		#home-contact{
			width: 100%;
			padding: 4em 5%;
			margin-bottom: 0;
			background: url(cssimages/mcontactus.jpg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size:cover;
		}

		#home-points .butt,
		#home-contact .butt{
			margin: 0 auto;
		}
	/*ano kwan events*/
		
		.events-ads img{
			margin: .25em auto;
		}

		#events-calendar p strong{
			display: block;
			font-family: 'open_sanssemibold',Arial,sans-serif;
		}

	/*contact*/

		#contact-form,
		#contact-info,
		#contact-map{
			padding: 2em 10%;
			margin: 0 auto;
			width: 100%;
		}

		#contact-form label{
			display: block;
		}

		#contact-form input{
			display: block;
		}

		form{
			max-width: 400px;
			margin: 0 auto;
			text-align: left;
		}

		form input,
		form label,
		form select,
		form textarea{
			width: 100%;
			color: #333;
			display:block;
		}

		form input,
		form select,
		form textarea{
			font-size: 1.125em;
			border: 1px solid #888;
			border-radius: 0;
			appearance: none;			
			-moz-appearance: none;
			-webkit-appearance: none;
		}

		form input,
		form select{
			padding:  0 .5em;
			height: 45px;
			line-height: 45px;
		}

		form input::-webkit-inner-spin-button,
		form input::-webkit-outer-spin-button{
			appearance: none;			
			-moz-appearance: none;
			-webkit-appearance: none;
		    display: none;
		    margin: 0;
		}

		input::-webkit-calendar-picker-indicator{
		    
			background: #FFF url(cssimages/selectdrop.gif) no-repeat left center;
			color: transparent!important;/*u bitch*/
			width: 15px;
			position: relative;
			display: block;
			left: 10px;
		}

		form textarea{
			padding: .5em;
		}

		form label{
			font-size: 1.125em;
			padding-bottom: .5em;
			padding-top: 1em;
			color: #0065A2;
			font-family: 'open_sanssemibold',Arial,sans-serif;
		}

		form select{
			display: block;
			border-radius: 0;
			background: #FFF url(cssimages/selectdrop.gif) no-repeat right center;
		}

		form input.butt{
			width: 100%;
			max-width: 100%;
			min-width: auto;
			display:block;
			margin-top: 1.75em;
			border: 0;
			padding: 0 1em;
			font-size: 1em;
		}

		#contact-info{
			text-align: left;
			background-color:#DDD;
		}

		#contact-info span,
		footer p span{
			display: block;
			font-family: 'open_sanssemibold',Arial,sans-serif;
		}

		#contact-map{
			background-color: #CCC;
		}

		.no-js #contact-map{
			display: none;
		}

		form>div{
			display: none;
		}

		.no-js #messageField{
			display: block;
		}

		#contact-map iframe{
			width: 100%;
			height: 100%;
			min-height: 300px;
		}

		label.error{
			font-size: .75em;
			color: #991A29;
			font-style: italic;
			margin: .25em 0 0;
			padding: 0;
		}

		input.error,
		select.error,
		textarea.error{
			border: 1px solid #991A29;
			margin-bottom: 0;
		}

		input.valid,
		select.valid,
		textarea.valid{
			border: 1px solid #11A746;
		}

	/*404*/

		#error h2,
		#error h4,
		#error p,
		#error ul{
			text-align: center;
		}

		#error h2{
			margin-bottom:.125em;
		}

		#error p{
			margin-bottom: 2em;
		}

		#error h4{
			margin-bottom: .5em;
		}

		#error li{
			list-style-type: none;
			margin-left: 0;
		}

/*footer ass*/

	footer{
		padding: 2em;
		text-align: center;
		color: #FFF;
		background: #0065A2;
	}

	footer h5{
		width: 100%;
		font-size: 1.5em;
		color: #FFF;
		padding-bottom: 1em;
		font-family: 'montserratlight',Arial,sans-serif;
		border-bottom: 1px solid #FFF;
	}

	footer h5 a:hover,
	footer h5 a:focus,
	footer h5 a:active{
		text-decoration:none;
	}

	footer a,
	footer a:visited{
		text-decoration:none;
		color: #FFF;
	}

	footer a:hover,
	footer a:focus,
	footer a:active{
		text-decoration:underline;
		color: #FFF;
	}

	footer h6{
		font-size: 1.25em;
		line-height: 2;
		color: #FFF;
		font-family: 'montserratlight',Arial,sans-serif;
	}

	footer li {
		line-height: 2;
	}

	footer p{
		line-height: 1.125;
		margin-bottom: 1em;
	}

	footer section,
	footer>div>p{
		padding: 1.875em 0;
	}

	footer section{
		border-bottom: 1px solid #fff;
	}

	.foot-sitemap{
		display: none;
	}

	.foot-sitemap,
	.foot-info{
		text-align: left;
	}

	.no-js .foot-map,
	.foot-map{
		display: none;
	}

@media only screen and (min-width:320px) and (orientation: landscape), screen and (min-width:621px){

	.utility{
		text-align: right;
		height: 70px;
		padding: 1em .5em;
	}

	#navplaceholder{
		height: 70px;
	}

	nav{
		height: 70px;
		display: block;
		position: relative;
	}

	nav h1{
		height:70px;
		width: 225px;
		float: left;
		position: absolute;
		bottom: 70px;
		margin-left: 1em;
	}

	.no-js nav h1{
		margin-left: 1em;
	}

	nav h1 a{
		height: 70px;
		width: 225px;
		background: url(cssimages/logo.svg) no-repeat left center;
	}
	nav ul{
		height: 70px;
		opacity: 1;
		text-align: center;
		background: none;
	}

	nav ul li{
		display: inline-block;
		margin: 0 1%;
	}

	nav ul li a{
		font-size:1em;
		padding: 0;
		height: 70px;
		line-height: 4.375;
	}

	nav ul li a:hover,
	nav ul li a:focus,
	nav ul li a:active{
		background: none;
		color: #8DC63F;
		border-bottom: 5px solid #8DC63F;
	}

	#dhome .nhome,
	#dabout .nabout,
	#dfacilities .nfacilities,
	#dservices .nservices,
	#devents .nevents,
	#dcontactus .ncontactus{
		background-image: url(cssimages/currpage.gif);
		background-repeat: repeat-x;
		background-position: 0 -20px;
	}

	.stickynav{
		position: fixed;
		height: 70px;
	}

	.stickynav h1{
		bottom: 0;
	}

	.stickynav h1 a{
		background: url(cssimages/slogo.svg) no-repeat left center;
	}

	.toggle{
		height: 70px;
		width: 70px;
		display: none;
	}

	.stickynav .toggle{
		display: block;
	}

	.stickynav h1{
		position: static;
	}

	.stickynav ul{
		position: static;
		background: #005588;
		height: 0;
		opacity: 0;
	}
}

@media only screen and (min-width:621px){
	body{
		text-align: left;
	}

	.js article a[href="#"]{
		display: none;
	}

	/*HEADER*/

		/*banner*/
			#banner {
				height: 300px;
			}

			.flexbox #banner{
				-webkit-box-orient: horizontal;
				-webkit-box-direction: normal;
				-ms-flex-direction: row;
				        flex-direction: row;
				-webkit-box-pack: start;
				-ms-flex-pack: start;
				        justify-content: flex-start;
				-webkit-box-align: end;
				-ms-flex-align: end;
				        -ms-grid-row-align: flex-end;
				        align-items: flex-end;
			}

			#dhome #banner{
				height: 400px;
				background-image: url(cssimages/thhome.jpg);
			}

			#dabout #banner{
				background-image: url(cssimages/thabout.jpg);
			}

			#dfacilities #banner{
				background-image: url(cssimages/thfacilities.jpg);
			}

			#dservices #banner{
				background-image: url(cssimages/thservices.jpg);
			}

			#devents #banner{
				background-image: url(cssimages/thevents.jpg);
			}

			#dcontactus #banner{
				background-image: url(cssimages/thcontactus.jpg);
			}

			#d404 #banner{
				background-image: url(cssimages/th404.jpg);
			}

			#banner>div {	
				height: auto;
				width: 100%;
				padding: 1em;
				position: absolute;
				margin: auto;
				top: auto;
				bottom: 0;
				left: 0;
				right: 0;
			}

			.flexbox #banner .butt,
			#banner .butt{	
				display: inline-block;
				min-width: 100px;
				width: auto;
				margin: .75em 1% 0;
			}

			#banner h2{
				font-size: 2em;
				padding: 1em;
				width: 70%;
				text-align: center;
				margin: auto;
			}

			#banner>h2{
				position: absolute;
				margin: auto;
				width: auto;
				top: auto;
				bottom: 0;
				left: 0;
				right: auto;
			}

			.flexbox #banner>h2{
				margin: 0;
			}

		/*aside*/

			#toc{
				padding: 0;
			}

			.staticaside{
				float: right;
				width: 35%;
			}

			#toc aside{
				padding: 2em;
			}

			.stickyaside{
				position: fixed;
				z-index: 8;
				width: 100%;
				padding: 0;
				max-width:1200px;
			}

			.stickyaside aside{
				right: 0;
				position: absolute;
				width: 35%;
			}

			.bottomaside{
				position: absolute;
				width: 35%;
				bottom: 0;
				right: 0;
				top: auto;
			}

			#toc.bottomaside aside{
				width: 100%;
			}

			aside ol li{
				font-size: 1em;
			}

			.contact-us{
				clear: both;
				float: none;
				padding: 6em;
				background: url(cssimages/tcontactus.jpg);
			}

		/*MAIN*/

			#toc+main{
				width: 65%;
				float: left;
			}

			article h2,
			article h3{
				text-align: left;
			}

			article{
				padding: 2em 10%;
			}

			article .butt{
				width: auto;
			}

		/*home*/

			#home-blurb{
				width: 80%;
				max-width: 600px;
			}

			#home-insurance a{
				width: 25%;
				margin: 0 2.5% 1em;
			}

			#home-insurance a:nth-of-type(n+5){
				display: inline-block;
			}

			#home-contact{
				padding: 5em;
				background: url(cssimages/tcontactus.jpg);
			}

			#contact-form,
			#contact-info,
			#contact-map{
				float: left;
				margin: 0;
			}

			#contact-info,
			#contact-map{
				padding: 1.375em 2.5%;
			}

			#contact-form{
				width:60%;
				padding: 2em 5%;
			}

			#contact-info,
			#contact-map{
				width:40%;
			}

			#contact-form form,
			#contact-form h2,
			#contact-form p{
				max-width: 400px;
				margin-left: 0;
			}

			form input.butt{
				width:auto;
				display:inline-block;
			}

			#contact-form h2{
				text-align:left;
			}

	/*FOOTER*/
		footer{
			padding: 2em;
		}

		footer h6{
			font-size: 1.25em;
			line-height: 2;
			font-family: 'montserratlight',Arial,sans-serif;
		}

		.foot-sitemap{
			display: block;
		}

		.foot-sitemap,
		.foot-info{
			float: left;
			width: 45%;
			margin-right: 5%;
			border-bottom: none;
		}

		.foot-copyright {
			clear: both;
			border-top: 1px solid #fff;
		}

}

@media only screen and (min-width: 800px){
	/*MASTER*/
		#container,
		#navcontainer{
			max-width: 1200px;
			margin: 0 auto;
		}

		#footcontainer{
			max-width: 960px;
			margin: 0 auto;
		}

	/*header*/
		.utility{
			height: 90px;
			padding: 1.5em 1em;
		}

		#navplaceholder{
			height: 90px;
		}

		nav,
		.stickynav{
			height: 90px;
			padding: 0 1em;
		}

		nav h1{
			height: 90px;
			margin-left: 0;
			bottom: 90px;
		}

		.no-js nav h1{
			margin-left: 0;
		}

		nav h1 a{
			position:absolute;
			top: 0;
			bottom: 0;
			margin: auto;
		}

		nav ul{
			width: 80%;
			max-width: 500px;
			height: 90px;
			float: right;
			position: static;
			text-align: left;
		}

		.no-js nav ul{			
			height: 90px;
		}

		.stickynav h1{
			float: left;
		}

		.stickynav ul{
			background: none;
			opacity: 1;
			clear: none;
		}

		.stickynav .toggle{
			display: none;
		}

		nav ul li{
			display:inline-block;
			margin: 0 1.5%;
		}

		nav ul li a{
			height: 90px;
			line-height: 90px;
		}

		#dhome .nhome,
		#dabout .nabout,
		#dfacilities .nfacilities,
		#dservices .nservices,
		#devents .nevents,
		#dcontactus .ncontactus{
			background-position: 0 0;
		}

		.stickynav ul{
			float: right;
			height: 90px;
		}

		nav ul.active{
			height: 90px;
		}

		.toggle{
			display: none;
		}

	/*header*/

		.utility p{
			max-width: 1200px;
			margin: 0 auto;
		}

		#banner{
			height: 400px;
			max-width: 1200px;
			margin: 0 auto;
			width: 100%;
		}

		#dhome #banner{
			height: 500px;
			background-image: url(cssimages/hhome.jpg);
		}

		#dabout #banner{
			background-image: url(cssimages/habout.jpg);
		}

		#dfacilities #banner{
			background-image: url(cssimages/hfacilities.jpg);
		}

		#dservices #banner{
			background-image: url(cssimages/hservices.jpg);
		}

		#devents #banner{
			background-image: url(cssimages/hevents.jpg);
		}

		#dcontactus #banner{
			background-image: url(cssimages/hcontactus.jpg);
		}

		#d404 #banner{
			background-image: url(cssimages/h404.jpg);
		}

		#banner>div{
			text-align: right;
			padding: 1.5em;
		}

		.flexbox #banner>div{
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			        flex-direction: row;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			        justify-content: flex-start;
			-webkit-box-align: center;
			-ms-flex-align: center;
			        -ms-grid-row-align: center;
			        align-items: center;
		}

		#banner h2{
			font-size: 2.25em;
		}

		#banner>div h2{
			width: 50%;
			float: left;
			text-align: left;
			margin-top: .125em;
		}

		#banner>div>div{
			width: 50%;
			float: right;
		}

		.flexbox #banner>div h2{
			margin: 0;
			float: none;
		}

		#banner .butt{
			text-align: right;
			margin: 1%;
		}

		.flexbox #banner .butt{
			margin: 0 1%;
		}


	/*aside*/

		.contact-us{
			padding: 8em;
			background: url(cssimages/contactus.jpg);
		}

		#toc aside{
			padding: 3.5em;
		}

	/*main*/

		article{
			padding: 3em 3.5em;
		}

		article figure:nth-last-child(2){
			padding-bottom: 0;
		}

		.conclude{
			text-align: left;
		}

		.conclude+.butt{
			margin: 0;
			display: inline-block;
		}

		#home-points,
		#home-insurance{
			width: 85%;
		}

		#home-points figure{
			float: left;
			width: 30%;
			margin: 2.5em 1.6667%;
		}

		.flexbox #home-points{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			        flex-direction: row;
		}

		.flexbox #home-points figure{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
		}

		#home-points img{
			width:100%;
			margin: 0 auto;
		}

		.flexbox #home-points img{
			-webkit-box-flex: 0;
			-ms-flex: 0 0 auto;
				flex: 0 0 auto;
		}

		.flexbox #home-points figcaption{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
				flex: 1 0 auto;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
			-webkit-box-pack: start;
			-ms-flex-pack: start;
				justify-content: flex-start;
		}

		.flexbox #home-points p{
			-webkit-box-flex: 1;
			-ms-flex: 1 0 auto;
			    flex: 1 0 auto;
		}

		.flexbox #home-points .butt{
			-ms-flex-item-align: end;
			    align-self: flex-end;
		}

		#home-points figcaption p{
			font-size:.9375em;
			margin: 0 auto 1.5em;
			width: 90%;
		}

		#home-points .butt{
			width: 50%;
		}

		#home-insurance a{
			width: 20%;
			max-width: 200px;
			margin: 0 1em 2em;
		}

		#home-insurance h2{
			width: 70%;
			margin: 0 auto 1em;
		}

		#home-contact{
			padding: 8em;
			width: 100%;
			background: url(cssimages/contactus.jpg);
		}

		#about-staff figure{
			width:47.5%;
			float:left;
		}

		#about-staff figure:nth-child(2n+2){
			clear:both;
			margin-right: 5%;
		}

		#dcontactus main{
			padding: 4em 2.5%;
		}

		#contact-form{
			background: #E5E5E5;
			width: 55%;
			float: left;
			padding: 3em 7.5%;
			margin: 0 2.5% 2em;
		}

		#contact-form form,
		#contact-form p{
			margin: 0 auto;
		}

		#contact-form h2{
			margin: 0 auto .5em;
		}
		
		#contact-info,
		#contact-map{
			width: 35%;
			float: left;
			padding: 2em 3.75%;
			margin: 0 2.5% 2em;
		}

		#contact-map{
			background-color: #DDD;
		}

		#contact-map iframe{
			min-height: 275px;
		}

		/*footer*/

		footer{
			text-align: left;
			padding: 3em;
		}

		.foot-sitemap,
		.foot-info,
		.foot-map,
		.foot-copyright{
			width: 30%;
			margin: 0 1.66500% 0;
			/*margin: 0 4.99500% 0 0;*/
			float: left;
			border: 0;
		}

		.foot-map{
			display: block;
			border-bottom: 1px solid #FFF;
		}

		.foot-map iframe{
			max-width: 100%;
			height: 140px;
		}

		.foot-copyright{
			clear: none;
		}

}